* {
    /* background-color: #DDBEA9; */
    background-color: var(--background);
    color: var(--fontcolour);
}

:root {
    --sand: #DDBEA9;
    --ebony: #6B705C;
    --pinetree: #2B2D25;
    --artichoke: #A5A58D;
    --champagnepink: #FFE8D6;
    --black: #0B0B09;
    --white: #DBDBD1;
}

.lightmode {
    --background: var(--sand);
    --fontcolour: var(--ebony);
    --textcolour: var(--ebony);
    --boxcolour: var(--ebony);
    --buttontext: var(--ebony);
}

.darkmode {
    --background: var(--ebony);
    --fontcolour: var(--sand);
    --textcolour: var(--sand);
    --boxcolour: var(--sand);
    --buttontext: var(--sand);
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fontcolour);
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form Outline */
    padding: 1em;
    border: 1px solid #FFE8D6;
    border-radius: 1em;

    display: flex;
    justify-items: center;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size and alignment */
    display: flex;
    width: 300px;
    align-items: center;
    color: var(--textcolour);
    
}

.email {
    display: flex;
    justify-content: center;
    width: 300px;
}

.message {
    display: flex;
    justify-content: center;
    width: 300px;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid var(--boxcolour);
}

input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #0B0B09;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provice space to type some text */
    height: 5em;

}

.button {
    /* Align buttons with the same text fields */
    margin-left: .5em;
    color: var(--buttontext);
}


.button:focus {
    text-decoration: #6B705C;
}

/* SWITCH CSS */

.toggle {
    display: flex;
    justify-content: flex-end;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6B705C;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #DBDBD1;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #DDBEA9;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #6B705C;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.click {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clickerbutton {
    width: 25px;
    height: 25px;
}

.image {
    height: 50px;
    width: 60px;
}

.newcontent {
    padding-bottom: 25px;
}

.main {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    form {
        width: 200px;
    }
    
    .email {
        display: flex;
        flex-flow: row wrap;
        width: 100px;
    }

    #text {
        display: flex;
        flex-flow: row nowrap;
    }

    .message {
        display: flex;
        flex-flow: row wrap;
        width: 200px;
    }

}